@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{
    font-family: 'Sniglet', cursive;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  height: auto;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
}

a {
  color: gray;
}

h1 {
    color: white;
}
p {
  font-size: 20px;
}

#video-bg {
    overflow: hidden;
    z-index: -10;
    background: url() no-repeat #94a233;
    background-size: cover;
}

#video-bg > video {
    position: absolute;
    width: auto;
    height: 100%;
}

 @supports (object-fit: cover) {
     #video-bg > video {
         width: 100%;
         object-fit: cover;
     }
 }

.ok {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}
p {
  color: white;
}
.hello {
  margin: 0 auto;
}

.logo {
  height: 70px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
