@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{
    font-family: 'Sniglet', cursive;
}

body {
  background-color: black;
}
.block {
  display: flex;
}
img {
  height: 200px;
  padding: 10px;
  transition: all 1s;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
}
img:hover {
  transform: scale(2);
}
h1 {
  color: white;
}
.navbar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fab{
    font-size: 30px;
    padding: 40px;
    color: rgb(88, 88, 88);
}
.fab:hover{
    color: white;
}
.fab:active{
    color: rgb(161, 161, 161);
}
.infotext{
    color: rgb(88, 88, 88);
}
