@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{
    font-family: 'Sniglet', cursive;
}
.carousel{
    width: 100%;
    height: 600px;
}
.carousel-inner{
    height: 600px;
    background-color: black;
}
.carousel-inner img{
    opacity: 0.6;
}
.carousel-caption{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 5px 5px 2px rgb(0, 0, 0);
}
.carousel-caption h1{
    font-size: 50px;
}
.carousel-caption p{
    font-size: 30px;
}
.card-deck{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.card-pos{
    display: flex;
    flex-direction: row;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    width: 282px;
    height: 510px;
    border: 5px solid rgb(87, 87, 87);
}
.card-img1{
    width: 190px;
    height: 260px;
    margin-top: 10px;
    transition: 1s
}
.card-img1:hover{
    transform: scale(1.05);
}
.card-img2{
    width: 290px;
    height: 250px;
    margin-top: 10px;
    transition: 1s
}
.card-img2:hover{
    transform: scale(1.05);
}
.card-img3{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    transition: 1s
}
.card-img3:hover{
    transform: scale(1.05);
}
.card-img4{
    width: 160px;
    height: 270px;
    margin-top: 10px;
    transition: 1s
}
.card-img4:hover{
    transform: scale(1.05);
}
.card-img5{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    transition: 1s
}
.card-img5:hover{
    transform: scale(1.05);
}
.card-img6{
    width: 170px;
    height: 250px;
    margin-top: 10px;
    transition: 1s
}
.card-img6:hover{
    transform: scale(1.05);
}
.bd-timetable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
}
.table{
    width: 750px;
    text-align: center;
    margin-top: 30px;
    border: 5px solid rgb(87, 87, 87);
}
.navbar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fab{
    font-size: 30px;
    padding: 40px;
    color: rgb(88, 88, 88);
}
.fab:hover{
    color: white;
}
.fab:active{
    color: rgb(161, 161, 161);
}
.infotext{
    color: rgb(88, 88, 88);
}